@import "templates/header";
@import 'templates/variables';
@import 'templates/grid';
@import 'templates/normalize';
@import 'templates/interface';
@import 'templates/fonts.scss';
@import 'templates/hero.scss';

*, *::before, *::after{
   box-sizing: border-box;
}

body{
   font-family: 'Futura Book', sans-serif;
   font-size: 14px;
}