.container{
  width: 85%;
  max-width: 1256px;
  margin: auto;
}

.row{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
 }
 
 .column{
  &--steps{
    width: 26.8%;
   }
  &-30{
    flex-basis: 32%;
 }
 &-50{
  width: 50%;
 }
 &-61{
  width: 61%;
 }
}