.button{
   font-weight: 400;
   font-family: 'Futura Demi';
   font-size: 0.93rem;
   padding: 18px 25px;
   border: none;
   border-radius: 2px;
   text-transform: uppercase;
   cursor: pointer;
   &--primary{
      padding: 12px 21,5px;
      color: #fff;
      background-color: $primary;
      transition: 0.3s;
      &:hover{
         box-shadow: 0px 5px 15px rgba($primary, 0.2);
      }
   }
   &--outline{
      border: 1px solid #FFFFFF;
      background: transparent;
      color: #fff;
      padding: 17px 42px;
   }
}