.button{
   font-weight: 400;
   font-family: 'Futura Demi';
   font-size: 0.93rem;
   padding: 18px 25px;
   border: none;
   border-radius: 2px;
   text-transform: uppercase;
   cursor: pointer;
   &--primary{
      padding: 12px 21,5px;
      color: #fff;
      background-color: $primary;
      transition: 0.3s;
      &:hover{
         box-shadow: 0px 5px 15px rgba($primary, 0.2);
      }
   }
   &--outline{
      border: 1px solid #FFFFFF;
      background: transparent;
      color: #fff;
      padding: 17px 42px;
   }
}

.label{
   &--light{
      color: rgba(255, 255, 255, 0.5);
      font-size: 1.07rem;
   }
}

.input{
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);;
  background-color: transparent;
  font-size: 1.285rem;
  color: #fff;
  padding: 0.5rem 0;
  &::placeholder{
    color: #fff;
  }
}

.policy{
  &__checkbox{
    opacity: 0;
    visibility: hidden;
    &:checked + {
      .policy__label{
        &::before{
          content: '';
          background: $primary url('../../img/svg/Check.svg') no-repeat center / 0.8rem;
        }
      }
    }
  }
  &__label{
    display: flex;
    align-items: center;
    &::before{
      content: '';
      height: 18px;
      width: 18px;
      border: 1px solid $primary;
      border-radius: 1px;
      margin-right: 0.64rem;
    }
  }
}
