@media (max-width: 1200px){
   html{
      font-size: 12px;
   }
   .nav{
      &__item{
         margin-right: 1rem;
      }
   }
}

//                 Media header

@media (max-width: 992px){
   .nav{
      display: none;
   }
   .hero{
      &__instagram{
         display: none;
      }
      &__content{
         margin-left: 0;
      }
   }
}
//                 Media hero

@media (max-width: 570px){
   .title{
      font-size: 1.64rem;
   }
   .hero{
      &__text{
         font-size: 1.29rem;
      }
      &__content{
         max-width: 22.86rem;
      }
      &__button{
         display: block;
         min-width: 22.86rem;
         margin-bottom: 1.85rem;
      }
      &__scroll-down{
         display: none;
      }
      &__text{
         margin-bottom: 2.28rem;
      }
   }
   .contacts{
      &__button{
         display: none;
      }
      &__phone{
         margin-right: 0;
         color: #fff;
         text-decoration: none;
      }
   }
}

@media (max-height: 560px){
   .hero{
      &__scroll-down{
         display: none;
      }
   }
}

//                 Media types

@media(max-width: 890px){
   .row{
     flex-direction: column;
     align-items: center;
   }
   .types{
     &__card{
      margin-bottom: 5rem;
     }
   }
   .column-30 .card{
     &__text{
      margin-left: 0;
     }
   }
   
 }

//                 Media design

@media(max-width: 890px){
   .design{
      &__card{
        margin-bottom: 5rem;
      }
   }
}


//                  Media projects
@media(max-width: 680px){
  .projects{
    padding-bottom: 50px;
    padding-top: 0;
  }
  .section-title__word{
    &::after{
      display: none;
    }
  }
}



@media(max-width: 890px){
  .swiper-slide img{
    display: block;
    margin-top: 20px;
  }
  .column{
    &-50--projects{
    }
    &-50{
			display: flex;
			align-items: center;
      width: 100%;
    }
  }
	.projects .row{
		align-items: center;
	}
}

//                  Media control

@media(max-width: 681px){
	.projects{
		padding-bottom: 0;
	}

.control {
  padding-bottom: 0;
}

	.control{
		background-color: $dark;
		&__text{
			color: #fff;
			max-width: 100%;
      margin-bottom: 26px;
		}
		&__section-title{
			margin-top: 0;
		}
    &__form{
      display: flex;
      flex-wrap: wrap;
    }
    &__input-group{
      flex-basis: 100%;
      margin-bottom: 63px;
      &:nth-child(2){
        margin-bottom: 0;
      }
    }
    &__input{
      width: 100%;
      font-size: 18px;
      line-height: 25px;
      &::placeholder{
        color: #fff;
      }
    }
    &__button{
      order: 3;
      width: 100%;
      margin: 0;
      margin-bottom: -25px;
    }
    &__policy-label{
      color: #fff;
      font-size: 16px;
      justify-content: start;
      margin-bottom: 5.16rem;
    }
	}
  .form{
    &__label{
      font-size: 15px;
    }
  }
}