*, *::before, *::after{
   box-sizing: border-box;
}

html {
   font-size: 14px;
}

body{
   font-family: 'Futura Book', sans-serif;
   font-size: 1rem;
}

.section{
   padding: 60px 0;
   &--dark{
      background-color: $dark;
      color: #fff;
   }
   &-title{
      text-align: center;
      text-transform: uppercase;
      font-family: 'Yeseva One', cursive;
      &__text{
         line-height: 2.07rem;
         max-width: 35rem;
      }
      &__word{
         display: flex;
         align-items: center;
         &::after{
            content: '';
            width: 90px;
            height: 2px;
            background: $primary;
            margin-left: 1rem;
         }
      }
      &--light{
         color: #fff;
      }
      &--left{
         text-align: left;
      }
      &__heading--primary{
         color: $primary;
      }
      &__image{
         display: flex;
         justify-content: center;
         align-items: center;
         &::after, &::before{
            content: '';
            height: 2px;
            width: 32px;
            background: $primary;
            margin: 0 10px;
         }
      }
   }
}

img{
   max-width: 100%;
}