@import 'variables';

.hero{
   display: flex;
   flex-direction: column;
   justify-content: center;
   background: $dark url('../../img/hero-bg.jpg') no-repeat center;
   background-size: cover;
   height: 100vh;
   padding-top: 100px;
   color: #fff;
   position: relative;
   &::before{
      content: '';
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color:rgba(0, 0, 0, 0.7);
   }
   &__button{
      margin-right: 20px;
   }
   &__content{
      position: relative;
      max-width: 670px;
   }
   &__text{
      max-width: 504px;
      font-size: 22px;
   }
   &__instagram{
      position: absolute;
      left: 0;
      top: 0;
      max-width: 80px;
      height: 100%;
   }
   &__scroll-down{
      font-family: 'Yeseva One', cursive;
      font-weight: 400;
      font-size: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      position: absolute;
      left: 0;
      bottom: 0;
      min-width: 247px;
      min-height: 97px;
      background: $dark;
      &::after{
         content: '';
         margin-left: 12px;
         width: 30px;
         height: 30px;
         border: 2px solid $primary;
         border-radius: 50%;
         background: url('../../img/svg/Arrow-down.svg') no-repeat center center;
      }
   }
}

.insagram{
   display: flex;
   justify-content: center;
   align-items: center;
   background: $dark;
   &__link{
      align-items: center;
      display: flex;
      text-decoration: none;
      text-transform: uppercase;
      color: $primary;
      transform: rotate(-270deg);
      &::after{
         content: '';
         width: 51px;
         height: 1px;
         background: $primary;
         margin-left: 8px;
      }
   }
}

.title{
   margin: 0;
   font-family: 'Yeseva One', cursive;
   font-weight: 400;
   font-size: 40px;
   text-transform: uppercase;
   &--primary{
      color: $primary;
   }
}